.bg-light{
    --bs-bg-opacity: 0.7;
}

.moto{
    font-family: 'Rammetto One', cursive;
    color: $green-700;
}

.MuiOutlinedInput-root{
    height: 40px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-radius: 5rem!important;
}

.search-real-estates{
    border-radius: 3rem;
}

.filters-part{
    background-color: $orange-200;
}